html {
  color: #c09;
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background-image: repeating-linear-gradient(-40deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left bottom;
}

p {
  max-width: 19em;
  transform: rotate(-5deg);
  transform-origin: left bottom;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.icecream {
  min-height: 480px;
}

.scale {
  transform: scale(.7);
}

.cone {
  bottom: -5%;
  z-index: 10;
}

.mint-chip {
  bottom: 22%;
  left: -3%;
  z-index: 1;
}

.chocolate-chip {
  bottom: 40%;
  left: 2%;
  z-index: 2;
}

.vanilla-fudge {
  bottom: 55%;
  left: -3%;
  z-index: 3;
}

.cherry {
  bottom: 80%;
  left: 18%;
  z-index: 4;
}
